<div class="container-fluid" id="first">
    <div>
        <h1 class="text-center text-white">TICKET MANAGEMENT SYSTEM</h1>
    </div>
  <div class="card w-50 offset-3" id="loginCard">
    <form action="/default" method="GET" class="form-group">
        <div class="form-group col-8 offset-2" style="margin-top: 5rem;">
          <label for="username" id="name">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="lab" #name>
        </div>
        <div class="form-group col-8 offset-2">
          <label for="exampleInputPassword1" id="name">Password</label>
          <input type="password" class="form-control" id="lab" #password>
        </div>
        <button type="submit" class="btn btn-primary col-4 offset-4" (click)="valid(name.value,password.value)">LOGIN</button>
        <button type="button" class="btn btn-warning col-4 offset-4 mt-2" >FORGOT PASSWORD?</button>
      </form>   
     </div>
</div>




